html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ImageThumbnail {
    height: 200px;
    width: auto;
}

.ProductImageIndexDisplay {
    height: 145px;
    width: 145px;
}
