@page
@model InfocommSolutionsProject.Areas.Identity.Pages.Account.Manage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentModel.Id" />
            <div class="form-group">
                <label asp-for="PaymentModel.CardNumber" class="control-label"></label>
                <input asp-for="PaymentModel.CardNumber" class="form-control" />
                <span asp-validation-for="PaymentModel.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentModel.DateOfExpiry" class="control-label"></label>
                <input asp-for="PaymentModel.DateOfExpiry" class="form-control" id="startDate"/>
                <span asp-validation-for="PaymentModel.DateOfExpiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentModel.SecurityCode" class="control-label"></label>
                <input asp-for="PaymentModel.SecurityCode" class="form-control" />
                <span asp-validation-for="PaymentModel.SecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./PaymentIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
        //js below disable pass date
        function addZero(n) {
            return parseInt(n) >= 10 ? n.toString() : '0' + n;
        }
        let dateNow = new Date(),
            yearNow = dateNow.getFullYear(),
            monthNow = dateNow.getMonth()+1,
            dayNow = dateNow.getDate(),
            maxDate = addZero(yearNow) + '-' + addZero(monthNow) + '-' + addZero(dayNow);
        let inp = document.querySelector('#startDate');
      
        inp.setAttribute('min', maxDate);
       
    </script>
}
