@page
@model InfocommSolutionsProject.Areas.Identity.Pages.Account.Manage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="container">
    @{

        var minDate = DateTime.Now.ToString("dd/MM/yyyy");
      
    }
    
</div>
<h4>PaymentModel</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentModel.CardNumber" class="control-label"></label>
                <input asp-for="PaymentModel.CardNumber"  class="form-control" />
                <span asp-validation-for="PaymentModel.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentModel.DateOfExpiry" class="control-label"></label>
                <input asp-for="PaymentModel.DateOfExpiry"  class="form-control"  />
                <span asp-validation-for="PaymentModel.DateOfExpiry"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentModel.SecurityCode" class="control-label"></label>
                <input asp-for="PaymentModel.SecurityCode" class="form-control" />
                <span asp-validation-for="PaymentModel.SecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}