@using Microsoft.AspNetCore.Identity
@using InfocommSolutionsProject.Areas.Identity.Data
@using InfocommSolutionsProject.Models;
@inject SignInManager<Accounts> SignInManager
@inject UserManager<Accounts> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
	{
		@*<li class="nav-item">
			<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
		</li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
				<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Category/Index">Category</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Shop">Shop</a>
		</li>*@
		<div class="sidebar-header d-flex align-items-center p-4"><img class="avatar shadow-0 img-fluid rounded-circle" src="img/avatar-6.jpg" alt="...">
          <div class="ms-3 title">
            <h1 class="h5 mb-1"></h1>
            <p class="text-sm text-gray-700 mb-0 lh-1" >@UserManager.GetUserName(User)</p>
          </div>
        </div>
        <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Settings</span>
        <li class="sidebar-item "><a class="sidebar-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Settings"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#setting-1"> </use>
                      </svg><span >Settings </span></a>
        </li>
        <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Main</span>
        <ul class="list-unstyled">
              <li class="sidebar-item active"><a class="sidebar-link"  asp-page="./AdminHomePage"
> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#real-estate-1"> </use>
                      </svg><span >Home </span></a>
              </li>
              <li class="sidebar-item"><a class="sidebar-link" asp-page=""> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#portfolio-grid-1"> </use>
                      </svg><span>Tables </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link"  asp-page=""> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#sales-up-1"> </use>
                      </svg><span>Charts </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link"  asp-page=""> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#survey-1"> </use>
                      </svg><span>Forms </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#browser-window-1"> </use>
                      </svg><span>Manage Admin Items</span></a>
                <ul class="collapse list-unstyled " id="exampledropdownDropdown">
                  <li><a class="sidebar-link" asp-page="/Product/Index">Product</a></li>
                  <li><a class="sidebar-link" asp-page="/Supplier/Index">Supplier</a></li>
                  <li><a class="sidebar-link" asp-page="/Category/Index">Category</a></li>
                  <li><a class="sidebar-link" asp-page="/SupplierOrders/Index">SupplierOrders</a></li>               
                </ul>
              </li>
             @* <li class="sidebar-item"><a class="sidebar-link" href="login.html"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#disable-1"> </use>
                      </svg><span>Login page </span></a></li>*@
        </ul><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Extras</span>
        <ul class="list-unstyled">
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#imac-screen-1"> </use>
                      </svg><span>Demo </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#chart-1"> </use>
                      </svg><span>Demo </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#quality-1"> </use>
                      </svg><span>Demo </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#security-shield-1"> </use>
                      </svg><span>Demo </span></a></li>
        </ul>

@*
		@if ((User.IsInRole(InfocommSolutionsProject.Models.Roles.Admin )) || (User.IsInRole(InfocommSolutionsProject.Models.Roles.SGAE_STAFF)))
		{
			<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Supplier/Index">Supplier</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/SupplierOrders/Index">Supply Orders</a>
		</li>
		}
		
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Dashboard">Dashboard</a>
		</li>
		*@
		
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
		
	}
</ul>
