@page
@model InfocommSolutionsProject.Pages.AboutUsModel
@{
}
 <h1 class="h2">About us</h1>
</div>
      <div class="page__entryContent">
        <p>SGAE  was born in 2022 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 4 million Hosts who have welcomed more than 1 billion guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</p>
        <div class="fastFacts ">