@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (User.IsInRole(InfocommSolutionsProject.Data.ApplicationRoles.AdminRole))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is Admin Page </p>
    </div>
}
else if (User.IsInRole(InfocommSolutionsProject.Data.ApplicationRoles.SGAEstaff))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is SGAE Staff Page </p>
    </div>
}
else if  (User.IsInRole(InfocommSolutionsProject.Data.ApplicationRoles.CustomerRole)) {
      <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is Customer Page </p>
    </div>
}
else{
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
}


