@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

@if (User.IsInRole(InfocommSolutionsProject.Data.ApplicationRoles.AdminRole))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is Admin Page </p>
    </div>
}
else if (User.IsInRole(InfocommSolutionsProject.Data.ApplicationRoles.SGAEstaff))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is SGAE Staff Page </p>
    </div>
}
else if  (User.IsInRole(InfocommSolutionsProject.Data.ApplicationRoles.CustomerRole)) {
      <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is Customer Page </p>
        
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="JAMIE"
  agent-id="88017ec0-b306-4d92-88d3-bf715430a431"
  language-code="en"
></df-messenger>
    </div>
}
else{
    
	<link rel="stylesheet" href="~/css/moving_part.css" />
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>

    <div class="text-center" >
    <h1 class="display-4" >Welcome</h1>
	

    <p >Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="JAMIE"
  agent-id="88017ec0-b306-4d92-88d3-bf715430a431"
  language-code="en"
></df-messenger>

</div>
}

	
