@page
@model InfocommSolutionsProject.Pages.LocationModel
@{
    ViewData["Title"] = "Map Location";

}
<h1>Our Location</h1>
<br />
<hr />
<div class="row">
        <div class="col-md-6" id="map" style="height: 400px; width:400px;">
            <script>
                var map;
        function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 1.3800, lng: 103.8489 },
        zoom: 8
    });
}
            </script>
              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX-RWGPxrO0WwoJFCI9GKf31EFp9HstWk&callback=initMap"></script>
        </div>
            <div class="col-md-6">
        <h2>Find us at:</h2>
        <br />
        <h3 style="font-weight:bold">Nanyang Polytechnic</h3>
        <p>Address: 180 Ang Mo Kio Ave 8, Singapore 569830</p>
        <p>Contact Us: 6451 5115</p>
    </div>
</div>
