@page
@model InfocommSolutionsProject.Pages.Supplier.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SupplierModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupplierModel.SupplierName" class="control-label"></label>
                <input asp-for="SupplierModel.SupplierName" class="form-control" />
                <span asp-validation-for="SupplierModel.SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierModel.SupplierCategory" class="control-label"></label>
                @*<input asp-for="SupplierModel.SupplierCategory" class="form-control" />*@
                 <select asp-for="SupplierModel.SupplierCategory"  class="form-control" >
                 <option value="">Please select</option>
                  <option value="Cucumbers Seed">Cucumbers Seed</option>
                   <option value="fertilizer">fertilizer</option>
            </select>
                <span asp-validation-for="SupplierModel.SupplierCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
